<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css">
	</head>
	<body ng-app="Todo">
		<div class="page-container" ng-controller="TodoCtrl">
			<h2>Todos</h2>
			<ul class="todo-list" ng-repeat="todo in todos track by $index">
				<li>{{todo}}</li>
				<button class="bt bt-achieve" ng-click="done(todo)">Done</button>
			</ul>
		</div>

	<ul class="add-todo">
		<li>
			<input type="text" class="txt"placeholder="New Todo" ng-model="newTodo" ng-keyup="add($event)" />
		</li>
	</ul>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="app.js"></script>
	</body>
</html>